<div class="dice-roller-container">
    <span class="fa-solid fa-dice"></span>
    <!-- <input type="number" [(ngModel)]="diceToRoll" min="1" max="10" (change)="validateDiceToRoll()" placeholder="Enter number of dice"> -->
    <!-- <input type="range" [(ngModel)]="diceToRoll" min="1" max="10"> -->
    <label for="numSimulations">Number of Simulations:</label>
    <input type="number" [(ngModel)]="numSimulations" id="numSimulations" min="1" max="10000" (change)="validateDiceToRoll()">
    <input type="range" [(ngModel)]="numSimulations" min="1" max="10000" (change)="validateDiceToRoll()">
    <button (click)="simulateGame()">Simulate</button>
</div>
<div class="dice-results">
    <div *ngFor="let score of gameScores | keyvalue" class="dice-face"> <!-- Iterate over gameScores object -->
        Total {{ score.key }} occurs {{ (score.value / numSimulations) | number:'1.2-2' }} occurred {{ score.value }} times.
    </div>
    <!-- <div>
        <span class="fa-solid fa-dice"></span>
        <span>total: {{ getRollSum() }}</span>
    </div> -->
</div>
